<div class="contanier">
  <div class="row justify-content-evenly mt-5 mb-5">
    <div class="col-4">
      <div class="card">
    <div class="card-header"><h2 class="text-center">signin</h2></div>
    <div class="card-body">
      <div class="row mt-4 mb-4">
        <div class="col-4">
          <label style="font-weight: bold;">First name</label>
        </div>
        <div class="col-8">
         <input type="text" class="form-control" id="" placeholder="Enterfyour first name">
         </div>
      </div>
      <div class="row mt-4 mb-4" >
        <div class="col-4">
          <label style="font-weight: bold;">last name</label>
        </div>
        <div class="col-8">
         <input type="text" class="form-control" id="" placeholder="Enterfyour last name">
         </div>
      </div>
      <div class="row mt-4 mb-4" >
        <div class="col-4">
          <label style="font-weight: bold;">Date of birth</label>
        </div>
        <div class="col-8">
         <input type="number" class="form-control" id="" placeholder="Enter date of birth">
         </div>
      </div>
      <div class="row mt-4 mb-4">
        <div class="col-4">
          <label style="font-weight: bold;">mobile</label>
        </div>
        <div class="col-8">
         <input type="number" class="form-control" id="" placeholder="Enter mobile number">
         </div>
      </div>
      <div class="row mt-4 mb-4">
        <div class="col-4">
          <label style="font-weight: bold;">Email</label>
        </div>
        <div class="col-8">
         <input type="email" class="form-control" id="" placeholder="Enter Email id">
         </div>
      </div>
      <div class="row mt-4 mb-4">
        <div class="col-4">
          <label style="font-weight: bold;">address</label>
        </div>
        <div class="col-8">
             <textarea class="form-control" id="" rows="3"></textarea>

         </div>
      </div>
      











    </div>
</div>
  
</div></div>
      


  