<div class="contanier">
    <div class="row justify-content-evenly  mt-5">
     <div class="col-4">   
<div class="card">
    <div class="card-header"><h2 class="text-center br">login</h2>
    </div>
    <div class="card-body">
        <div class="row mt-4" >
            <div class="col-4">
              <label style="font-weight: bold;"> Username</label>
            </div>
            <div class="col-8">
             <input type="text" class="form-control" id="" placeholder="Enter Username">
             </div>
          </div>
           <div class="row mt-4 mb-4">
            <div class="col-4">
              <label style="font-weight: bold;">password</label>
            </div>
            <div class="col-8">
             <input type="password" class="form-control" id="" placeholder="password">
             </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col-4">
              <button class="btn btn-primary" routerLink="home">login</button>
            </div>
            <div class="col-8">
                <a href="signin">you have not account go to sigin</a>
             </div>
          </div>
    </div>
</div>
    </div>
</div>
</div>
