
<div class="contanier">
    <div class="row m-auto mb-5 mt-5">
     <div class="col-4 m-auto">   
       <div class="card fw-bold" style="background-image: url();">
    <div class="card-header"><h2 class="text-center br">Admin login</h2>
    </div>
    <div class="card-body">
        <div class="row mt-4 mb-4" >
            <div class="col-4">
              <label> Username</label>
            </div>
            <div class="col-8">
             <input type="text" class="form-control" id="" placeholder="Enter Username">
             </div>
          </div>
           <div class="row mt-4 mb-4">
            <div class="col-4">
              <label >password</label>
            </div>
            <div class="col-8">
             <input type="password" class="form-control" id="" placeholder="password">
             </div>
        </div>
        <div class="text-center">
            
              <button class="btn btn-primary w-50" routerLink="/dash">login</button>
            
            
          </div>
    </div>
</div>
    </div>
</div>
</div>