<div class="contanier">
    <div class="row">
        <div class="col-4">
            <label>product name</label>
        </div>
        <div class="col-4">
            <input type="text" class="form-control" placeholder="enter product name">
        </div>
        </div>
        <div class="row mt-4">
            <div class="col-4">
                <label>product price</label>
            </div>
            <div class="col-4">
                <input type="number" class="form-control" placeholder="price">
             </div>
        </div>
    <div class="row mt-4" >
        <div class="col-4">
            <label>product image</label>
        </div>
        <div class="col-4">
            <input type="file" class="form-control" placeholder="image">
        </div>
    </div>

</div>
