<app-header></app-header>

<div class="container-fluid" >
  <div class="row " id="s"   style="background-color: #b8f1b9;">
  <marquee>
   <b>ENJOY NEXT DAY  DELIVARY IN KARIMNAGAR! PLACE YOUR ORDER BEFOE 5PM& GET DELIVERED NEXT DAY BETWEEN 9AM TO 5PM</b>  
  </marquee>
  </div>
  <div class="row mt-1" style="background-color: #74ef76;">
    <div class="col-sm-1">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             VEGTABLES
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Leafvegtables</a></li>
            <li><a class="dropdown-item" href="#">Regularvegtables</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-sm-1">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            FRUITS
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Organic fruits</a></li>
            <li><a class="dropdown-item" href="#">imported fruits</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-sm-1">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            SNACKS
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-sm-1">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-sm-1">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-sm-1">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-sm-1">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
    <div class="row mt-5">
     <div class="col-sm-3" >
        <div class="card" style="width:250px;height:250px;">
            <img src="assets\tamato.jpg" >
            <div class="card-body">
                <h5>Tomato</h5>
            </div>
        </div>
     </div>
     <div class="col-sm-3">
        <div class="card" style="width:250px;height:250px;">
            <img src="assets\chilli.jpg" >
        </div>
     </div>
     <div class="col-sm-3">
        <div class="card" style="width:250px;height:250px;">
            <img src="assets\beetroot.jpg" >
        </div>
     </div>
     <div class="col-sm-3">
        <div class="card" style="width:250px;height:250px;">
            <img src="assets\onion2.jpg" >
        </div>
     </div>
    </div>
    
    <div class="row">
    <div class="col-sm-12">    
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets\pea.jpg" style="width:100%;height:500px;">
              </div>
              <div class="carousel-item">
                <img src="assets\carrot.jpg"  style="width:100%;height:500px;">
              </div>
              <div class="carousel-item">
                <img src="assets\potato.jpg"  style="width:100%;height:500px;">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    </div>
    <div class="row" style="background-color: #d6dadc;">
      <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <p>Home</p>
          <p>Organic Groceries</p>
          <p>Food Standards</p>
          <p>Exotic</p>
        </div>
        <div class="col-sm-3">
          <p>Terms&Conditions</p>
          <p>Return and Cancellation</p>
          <p>Security&Conditions</p>
          <p>Payment Details</p>
        </div>
        <div class="col-sm-3">
          <p>Contact Us</p>
          <p>FaQ's</p>
        </div>
        

        
      
        
    </div>
    <div class="row" id="s2">
      <h1 style="text-align: center;">Organic2023</h1> 
     </div>

</div>
